Package: com.YungRaj.streaknotify
Name: StreakNotify
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ilhan Raja
Author: Ilhan Raja
Section: Tweaks
Version: 1.0.4
Installed-Size: 52
