Package: com.YungRaj.streaknotifyd
Name: streaknotifyd
Depends:
Architecture: iphoneos-arm
Description: A daemon that requests displayNames from the Snapchat application
Maintainer: Ilhan Raja
Author: YungRaj<ilhan.raja@icloud.com>
Section: System
Version: 0.0.1-1+debug
Installed-Size: 140
