Package: com.YungRaj.streaknotify
Name: StreakNotify
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ilhan Raja
Author: Ilhan Raja
Section: Tweaks
