Package: com.YungRaj.streaknotify
Name: StreakNotify
Version: 2.1.0-beta
Architecture: iphoneos-arm
Description: Take snapchat streaks seriously? Make sure you know how much time you have left to respond with notifications! On your feed there will be a label that tells you how much time is remaining to keep the streak going
Maintainer: Ilhan Raja
Author: Ilhan Raja
Section: Tweaks
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)