<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>terminateSnapchat</string>
			<key>label</key>
			<string>Close Snapchat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kStreakNotifyDisabled</string>
			<key>label</key>
			<string>Disable StreakNotify?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kExactTime</string>
			<key>label</key>
			<string>Show exact time remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kTwelveHours</string>
			<key>label</key>
			<string>Notify with 12 Hours Remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kFiveHours</string>
			<key>label</key>
			<string>Notify with 5 Hours Remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kOneHour</string>
			<key>label</key>
			<string>Notify with 1 Hour Remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kTenMinutes</string>
			<key>label</key>
			<string>Notify with 10 Minutes Remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Friends</string>
			<key>footerText</key>
			<string>If any friends are selected, notifications will only be enabled for them. Deselect all friends if you want to get notifications from all friends.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<false/>
			<key>bundle</key>
			<string>FriendmojiList</string>
			<key>internal</key>
			<false/>
			<key>isController</key>
			<string>true</string>
			<key>label</key>
			<string>Custom Friends</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AutoReply Options</string>
			<key>footerText</key>
			<string>Select if you want StreakNotify to auto reply to snaps when a streak sends a notification to you. Choose an image below</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Auto Reply to Keep Streak?</string>
			<key>key</key>
			<string>kAutoReplySnapstreak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Streak!</string>
			<key>bestGuess</key>
			<string>Streak!</string>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>key</key>
			<string>kAutoReplySnapstreakCaption</string>
			<key>label</key>
			<string>Caption</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>choosePhotoForAutoReplySnapstreak</string>
			<key>label</key>
			<string>Choose Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Time Remaining</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;}</string>
			<key>placeholder</key>
			<string>0</string>
			<key>bestGuess</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>kCustomHours</string>
			<key>label</key>
			<string>Hours</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;}</string>
			<key>placeholder</key>
			<string>0</string>
			<key>bestGuess</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>kCustomMinutes</string>
			<key>label</key>
			<string>Minutes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;}</string>
			<key>placeholder</key>
			<string>0</string>
			<key>bestGuess</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.YungRaj.streaknotify</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>kCustomSeconds</string>
			<key>label</key>
			<string>Seconds</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>label</key>
			<string>Check out StreakNotify on GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>StreakNotify</string>
</dict>
</plist>
