Package: com.YungRaj.streaknotifyd
Name: snbulletinsd
Depends:
Version: 0.0.1
Architecture: iphoneos-arm
Description: A daemon that handles Bulletins from the SpringBoard
Maintainer: Ilhan Raja
Author: YungRaj<ilhan.raja@icloud.com>
Section: System
